body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.coming-soon {
    font-size: 2rem; /* Tamaño mediano */
    color: #333;
    text-align: center;
}
